<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        
                        <h1>E-commerce <span id="js-rotating">Shopping system</span></h1>
                        <p class="p-heading p-large">FindAny is a system that is meant to computerize the commercial system</p>
                        <a class="btn-solid-lg page-scroll" routerLink="/admin">ADMIN</a>
                        <a class="btn-solid-lg page-scroll" routerLink="/login">CUSTOMER</a>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
</header>
