<!-- Services -->
<div id="services" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">SERVICES</div>
                <h2>Services And Modules<br> That Complete Our System</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/services-1.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">ADMIN<br><h5>Add New Product</h5></h3>
                        <p>The main aim of this module is to add new product to catalogue. Admin can add information about a product such as its name, category and price for the Products page in the admin. </p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">From our <b>FindAny</b> home, go to <b>Admin</b> -> <b>Login</b></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">After Admin Login page, click <B>Add Product</B></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Enter the Product Name, its category and its price.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Click <b>Add</b></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/services-1.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">ADMIN<br><h5>Add New Product</h5></h3>
                        <p>The main aim of this module is to add new product to catalogue. Admin can add information about a product such as its name, category and price for the Products page in the admin. </p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">From our <b>FindAny</b> home, go to <b>Admin</b> -> <b>Login</b></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">After Admin Login page, click <B>Add Product</B></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Enter the Product Name, its category and its price.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Click <b>Add</b></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/services-1.jpg" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">ADMIN<br><h5>Add New Product</h5></h3>
                        <p>The main aim of this module is to add new product to catalogue. Admin can add information about a product such as its name, category and price for the Products page in the admin. </p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">From our <b>FindAny</b> home, go to <b>Admin</b> -> <b>Login</b></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">After Admin Login page, click <B>Add Product</B></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Enter the Product Name, its category and its price.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Click <b>Add</b></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end of card -->



            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of services -->
